/*
  1. width
    i. width
	ii. min-width
	iii. max-width
  2. height
    i. height
	ii. min-height
	iii. max-height
*/

/********** Width **********/
/* width */
.h-0 { width: 0px; }
.w-px { width: 1px; }
.w-0.5 { width: .125rem; }
.w-1 { width: .25rem; }
.w-1.5 { width: .375rem; }
.w-2 { width: .5rem; }
.w-2.5 { width: .625rem; }
.w-3 { width: .75rem; }
.w-4 { width: 1rem; }
.w-5 { width: 1.25rem; }
.w-6 { width: 1.5rem; }
.w-7 { width: 1.75rem; }
.w-8 { width: 2rem; }
.w-9 { width: 2.25rem; }
.w-10 { width: 2.5rem; }
.w-11 { width: 2.75rem; }
.w-12 { width: 3rem; }

/* min height */
.min-w-0 { min-width: 0px; }
.min-w-px { min-width: 1px; }
.min-w-min { min-width: min-content; }
.min-w-max { min-width: max-content; }

/* max height */
.max-w-none { max-width: none; }
.max-w-0 { max-width: 0px; }
.max-w-min { max-width: min-content; }
.max-w-max { max-width: max-content; }
.max-w-full { max-width: 100%; }

/********** Height **********/
/* height */
.h-0 { height: 0px; }
.h-px { height: 1px; }
.h-0.5 { height: .125rem; }
.h-1 { height: .25rem; }
.h-1.5 { height: .375rem; }
.h-2 { height: .5rem; }
.h-2.5 { height: .625rem; }
.h-3 { height: .75rem; }
.h-4 { height: 1rem; }
.h-5 { height: 1.25rem; }
.h-6 { height: 1.5rem; }
.h-7 { height: 1.75rem; }
.h-8 { height: 2rem; }
.h-9 { height: 2.25rem; }
.h-10 { height: 2.5rem; }
.h-11 { height: 2.75rem; }
.h-12 { height: 3rem; }

/* min height */
.min-h-0 { min-height: 0px; }
.min-h-full { min-height: 100%; }
.min-h-screen { min-height: 100vh;}

/* max height */
.max-h-none { max-height: none; }
.max-h-0 { max-height: 0px; }
.max-h-min { max-height: min-content; }
.max-h-min { max-height: max-content; }
.max-h-full { max-height: 100%; }