/********** Enable/Disable Filter Effects **********/
.filter { filter: var(--td-blur) var(--td-brightness) var(--td-contrast) var(--td-grayscale) /*var(--td-hue-rotate)*/ var(--td-invert) var(--td-saturate) var(--td-sepia) /*var(--td-drop-shadow)*/; }
.filter-none { filter: none; }

/********** Blur **********/
.blur-none { --td-blur: blur(0); }
.blur-sm { --td-blur: blur(4px); }
.blur { --td-blur: blur(8px); }
.blur-md { --td-blur: blur(12px); }
.blur-lg { --td-blur: blur(16px); }
.blur-xl { --td-blur: blur(24px); }
.blur-2xl { --td-blur: blur(40px); }
.blur-3xl { --td-blur: blur(64px); }

/********** Brightness **********/
.brightness-0 { --td-brightness: brightness(0); }
.brightness-50 { --td-brightness: brightness(.50); }
.brightness-75 { --td-brightness: brightness(0.75); }
.brightness-90 { --td-brightness: brightness(.90); }
.brightness-95 { --td-brightness: brightness(.95); }
.brightness-100 { --td-brightness: brightness(1.00); }
.brightness-105 { --td-brightness: brightness(1.05); }
.brightness-110 { --td-brightness: brightness(1.10); }
.brightness-125 { --td-brightness: brightness(1.25); }
.brightness-150 { --td-brightness: brightness(1.50); }
.brightness-200 { --td-brightness: brightness(2.00); }

/********** Contrast **********/
.contrast-0 { --td-contrast: contrast(0); }
.contrast-50 { --td-contrast: contrast(.50); }
.contrast-75 { --td-contrast: contrast(.75); }
.contrast-100 { --td-contrast: contrast(1.00); }
.contrast-125 { --td-contrast: contrast(1.25); }
.contrast-150 { --td-contrast: contrast(1.50); }
.contrast-200 { --td-contrast: contrast(2.00); }

/********** Grayscale **********/
.grayscale-0 { --td-grayscale: grayscale(0); }
.grayscale { --td-grayscale: grayscale(1); }

/********** Invert **********/
.invert-0 { --td-invert: invert(0); }
.invert { --td-invert: invert(1); }

/********** Saturate **********/
.saturate-0 { --td-saturate: saturate(0); }
.saturate-50 { --td-saturate: saturate(.50); }
.saturate-100 { --td-saturate: saturate(1.00); }
.saturate-150 { --td-saturate: saturate(1.50); }
.saturate-200 { --td-saturate: saturate(2.00); }

/********** Sepia **********/
.sepia-0 { --td:sepia: sepia(0); }
.sepia { --td:sepia: sepia(1); }