$columns: 12;
$rows: 12;

/* container class */
.grid {
	display: grid;
	margin: auto;
	width: auto;
	max-width: 960px;
}

/* template columns & rows */
@mixin grid-template-cols {
	@for $i from 1 through $columns {
		.grid-col-#{$i} { grid-template-columns: repeat(#{$i}, 1fr); }
	}
}

@mixin grid-template-rows {
	@for $i from 1 through $rows {
		.grid-row-#{$i} { grid-template-rows: repeat(#{$i}, 1fr); }
	}
}

/* column & row spans */
@mixin grid-col-spans {
	@for $i from 1 through $columns {
		.col-span-#{$i} { grid-column: span #{$i}; }
	}
}

@mixin grid-row-spans {
	@for $i from 1 through $rows {
		.row-span-#{$i} { grid-row: span #{$i}; }
	}
}

/* grid autoflow */
.grid-flow-col { grid-auto-flow: column; }
.grid-flow-row { grid-auto-flow: row; }

/* column & row gaps */
@mixin grid-col-gaps {
	@for $i from 1 through 7 { // arbitrary upper bound (64px)
		.col-gap-#{$i} { column-gap: #{$i}px; }
		$i: $i * 2;
	}
}
.col-gap-0 { column-gap: 0px; }
.col-gap-05 { column-gap: 0.5px; }

@mixin grid-col-gaps {
	@for $i from 1 through 7 { // arbitrary upper bound (64px)
		.row-gap-#{$i} { row-gap: #{$i}px; }
		$i: $i * 2;
	}
}
.row-gap-0 { row-gap: 0px; }
.row-gap-05 { row-gap: 0.5px; }

/* flex direction */
.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }

/* flex wrap, grow, shrink */
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-grow { flex-grow: 1; }
.flex-shrink { flex-shrink: 1; }

/* justify content, items, self */
.justify-start { justify-content: flex-start; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }
.justify-around { justify-content: space-around; }
.justify-between { justify-content: space-between; }
.justify-even { justify-content: space-evenly; }

.justify-items-start { justify-items: start; }
.justify-items-center { justify-items: center; }
.justify-items-end { justify-items: end; }
.justfiy-items-stretch { justify-items: stretch; }

.justify-self-auto { justify-self: auto; }
.justfiy-self-start { justify-self: start; }
.justify-self-center { justify-self: center; }
.justify-self-end { justify-self: end; }
.justify-self-stretch { justify-self: stretch; }

/* align content, items, self */
.content-start { align-content: flex-start; }
.content-center { align-content: center; }
.content-end { align-content: flex-end; }
.content-around { align-content: space-around; }
.content-between { align-content: space-between; }
.content-even { align-content: space-evenly; }

.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }

.self-auto { align-self: auto; }
.self-start { align-self: flex-start; }
.self-center { align-self: center; }
.self-end { align-self: flex-end; }
.self-stretch { align-self: stretch; }