/* Padding-All */
@mixin pad-all {
	@for $i from 1 through 12 {
		.p-#{$i} { padding: math.div(#{i}, 4)rem; }
	}
}
.p-0 { padding: 0px; }
.p-px { padding: 1px; }

/* Padding-Left */
@mixin pad-left {
	@for $i from 1 through 12 {
		.pl-#{$i} { padding-left: math.div(#{i}, 4)rem; }
	}
}
.pl-0 { padding-left: 0px; }
.pl-px { padding-left: 1px; }

/* Padding-Top */
@mixin pad-top {
	@for $i from 1 through 12 {
		.pt-#{$i} { padding-top: math.div(#{i}, 4)rem; }
	}
}
.pt-0 { padding-top: 0px; }
.pt-px { padding-top: 1px; }

/* Padding-Right */
@mixin pad-right {
	@for $i from 1 through 12 {
		.pr-#{$i} { padding-right: math.div(#{i}, 4)rem; }
	}
}
.pr-0 { padding-right: 0px; }
.pr-px { padding-right: 1px; }

/* Padding-Bottom */
@mixin pad-bottom {
	@for $i from 1 through 12 {
		.pb-#{$i} { padding-bottom: math.div(#{i}, 4)rem; }
	}
}
.pb-0 { padding-bottom: 0px; }
.pb-px { padding-bottom: 1px; }

/* Margin-All */
@mixin margin-all {
	@for $i from 1 through 12 {
		.m-#{$i} { margin: math.div(#{$i}, 4)rem; }
	}
}
.m-0 { margin: 0px; }
.m-px { margin: 1px; }

/* Margin-Left */
@mixin margin-left {
	@for $i from 1 through 12 {
		.ml-#{$i} { margin-left: math.div(#{$i}, 4)rem; }
	}
}
.ml-0 { margin-left: 0px; }
.ml-px { margin-left: 1px; }

/* Margin-Top */
@mixin margin-top {
	@for $i from 1 through 12 {
		.mt-#{$i} { margin-top: math.div(#{$i}, 4)rem; }
	}
}
.mt-0 { margin-top: 0px; }
.mt-px { margin-top: 1px; }

/* Margin-Right */
@mixin margin-right {
	@for $i from 1 through 12 {
		.mr-#{$i} { margin-right: math.div(#{$i}, 4)rem; }
	}
}
.mr-0 { margin-right: 0px; }
.mr-px { margin-right: 1px; }

/* Margin-Bottom */
@mixin margin-bottom {
	@for $i from 1 through 12 {
		.mb-#{$i} { margin-bottom: math.div(#{$i}, 4)rem; }
	}
}
.mb-0 { margin-bottom: 0px; }
.mb-px { margin-bottom: 1px; }